{% extends "common/base.html" %}

{% load thumbnail %}
{% block content %}


<section class="banner">
  <div class="detail-banner"></div>
  <div class="container-slider">
    {% for banner in banners %}

    <div  class="slider">
      <div class="content">
        <div class="container-text">
          <h3 class="title">{{banner.titulo}}</h3>
          <h4 class="sub-title">{{banner.subtitulo}}</h4>
          <div class="text">{{banner.descripcion|safe}}</div>
        </div>
      </div>
      <div class="fondo" style="background-image:url('{{ banner.banner.url }}')">

      </div>
    </div>
  {% endfor %}
  </div>
</section>
<section class="info-pages">
  <div class="container">
    <div class="page">
      <h3>NOSOTROS</h3>
      <figure>
        {% thumbnail home.nosotros_image.path "288x160" as im %}
        <img src="{{ im.url }}" alt="" />
      </figure>
      <div class="text">{{home.nosotros|safe}}</div><a href="{% url 'web:nosotros' %}">
        Ver más
        <i class="icon-arrow-right"></i></a>
    </div>
    <div class="page">
      <h3>SERVICIOS</h3>
      <figure>
        {% thumbnail home.servicios_image.path "288x160" as im %}
        <img src="{{ im.url }}" alt="" />
      </figure>
      <div class="text">
        {{home.servicios|safe}}
      </div>
      <a href="{% url 'web:servicios' %}">
        Ver más
        <i class="icon-arrow-right"></i></a>
    </div>
    <div class="page">
      <h3>VEHÍCULOS</h3>
      <figure>
        {% thumbnail home.vehiculos_image.path "288x160" as im %}
        <img src="{{ im.url }}" alt="" />

      </figure>
      <div class="text">
      {{home.vehiculos|safe}}
      </div>
        <a href="{% url 'web:vehiculos' %}">
        Ver más
        <i class="icon-arrow-right"></i></a>
    </div>
  </div>
</section>
<section class="servicio-ventas">
  <div class="container">
    <div class="servicio item">
      <div class="text">
        <h3>Servicio</h3>
        <h4>LUBRICENTRO Y LAVADO DE AUTOS</h4>
      </div>
      <figure><img src="{{STATIC_URL}}img/lubicentro.png" alt=""/></figure>
    </div>
    <div class="ventas item">
      <div class="text">
        <h3>Venta de</h3>
        <h4>LLANTAS DE RESPUESTO</h4>
      </div>
      <figure><img src="{{STATIC_URL}}img/llanta.png" alt=""/></figure>
    </div>
  </div>
</section>
<section class="contacto-empresa">
  <div class="container">
    <div class="formulario">
      <h2>
        <span>
        	¿Quieres movilizar
        </span>
        A TU EMPRESA?
      </h2>
      <div class="text">Déjanos tus datos y nos comunicaremos contigo:</div>
      <form class="form-home">
        <div class="cnt-input">
          <div class="input">
            <input type="text" placeholder="Nombre" name="nombre" id="nombre" />
          </div>
          <div class="input">
            <input type="text" placeholder="Correo" name="correo" id="correo" />
          </div>
          <div class="input">
            <textarea cols="30" rows="10" placeholder="Mensaje" id="mensaje" name="mensaje"></textarea>
          </div>
        </div>
        <div class="button">
          <button>
            enviar
            <i class="icon-arrow-right"></i>
          </button>
        </div>
      </form>
    </div>
    <figure><img src="{{STATIC_URL}}img/movilizar.png" alt=""/></figure>
  </div>
</section>
<section class="pop-contacto">
  <div class="pop pop-1">
    <div class="content">
      <div class="icon-cross"></div>
      <figure><img src="{{STATIC_URL}}img/send-contact.png" alt=""/></figure>
      <h3>¡Gracias, tu mensaje ha sido enviado!</h3>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptates, mollitia esse! Dolorem itaque error nihil dicta vel sed esse, illum cupiditate ipsum eius voluptatum voluptatem delectus, atque, enim eveniet!

      </div>
    </div>
  </div>
</section>
{% endblock content %}
{% block js %}
<script src="{{STATIC_URL}}js/jquery.validate.min.js"></script>
<script src="{{STATIC_URL}}js/jquery.bxslider.min.js"></script>
<script>
  $(document).ready(function(){
      $(".form-home").validate({
              rules: {
                  nombre: "required",

                  correo: {
                      required: true,
                      email: true
                  },
                  mensaje: "required",
              },
              messages: {
                  nombre: "No olvides ingresar un nombre",

                  correo: "No olvides ingresar un correo válido",
                  mensaje: "No olvides ingresar un mensaje",
              },
              submitHandler: function (form) {
                  $.ajax({
                    url: '{% url "web:ajax_home" %}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                      'nombre': $("#nombre").val(),
                      'mensaje': $("#mensaje").val(),
                      'correo': $("#correo").val()
                    },
                    success: function(data) {

                    if (data.status == "ok") {
                        var valor_data = $(".send").attr('data-envio');
                        var class_active = "."+valor_data
                        /*$(".pop-active").removeClass('pop-active');*/
                        $(class_active).addClass('pop-active');
                        $(".overlay").addClass('overlay-block');
                        $("#nombre").val("");

                        $("#mensaje").val("");
                        $("#correo").val("");
                        };
                    },
                  })

                return false;
              }
          });
  	$('.container-slider').bxSlider({
  		mode:"fade",
  		auto: true,
  		pause: '300000',
  		pager: true,
  		controls: false,
  		adaptiveHeight: true,
  		onSliderLoad: function(currentIndex) {
  				$('.js-b1slider').children().eq(currentIndex).addClass('active');

  			},
  			onSlideBefore: function($slideElement){
  			  setTimeout( function(){

  				  $slideElement.addClass('active');

  			  },1000);
  			  $('.js-b1slider').children().removeClass('active');

  			}
  	});
  });
</script>
{% endblock js %}
