{% extends "common/base.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}
<section class="banner-page">
  <div class="detail-banner"></div>
  <div class="container">
    <div class="banner-image"><img src="{{banner.banner.url}}" alt=""/></div>
  </div>
</section>
<section class="vehiculos-pages">
  <div class="overlay"></div>
  <div class="container">
    <h3>Vehiculos</h3>
    <div class="content-vehiculos">
      {% for vehiculo in vehiculos %}
        <div data-vehiculo="pop-{{forloop.counter}}" class="vehiculos">
          <figure>
            {% thumbnail vehiculo.vehiculo.path "288x160" as im %}
              <img src="{{im.url}}" alt=""/>

          </figure>
        </div>

      {% endfor %}

    </div>
  </div>
</section>
<section class="pop-vehiculos">
{% for vehiculo in vehiculos %}
  <div class="pop pop-{{forloop.counter}}">
    <div class="content">
      <div class="icon-cross"></div>
      <figure><img src="{{vehiculo.vehiculo.url}}" alt=""/></figure>
      <div class="text">{{vehiculo.descripcion|safe}}</div>
    </div>
  </div>
{% endfor %}
</section>
{% endblock content %}
{% block js %}
{% endblock js %}
